.products-container {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.categoryName{
    width: auto;
    text-decoration:none;
    padding: 20px;
    cursor: pointer;
}
.categoryName:hover{
    color: orange;
}