.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    margin: 50px;
}

.card-container {
    /* position: sticky; */
    top: 0px;
    padding-left: 20px;
    background-color: rgb(247, 213, 139);
    /* height: 54rem;s */
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}