.headerNav {
height: 80px;
background-color: #1C2B35;
display: flex;
align-items: center;
justify-content:space-between;
padding: 0px 200px 0px 100px;
}

.headerNav a{
    font-size: 1.5rem ;
    color:white;
    text-decoration: none;
    margin: 0px 50px;
}

.headerNav a:hover {
color: orange;
}